.jumbotron {
  width: 50vw;
  // width: auto;
  margin-left: 2em;
  margin-right: 2em;
  align-self: flex-start;
  display: flex;
  text-align: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(9, 9, 121, 0.186734068627451) 17%,
    rgba(0, 212, 255, 0.3604035364145658) 100%
  );
  border-radius: 15em 15em 15em 15em;
  box-shadow: 2em 2em 2em 2em;
  z-index: 1;
  box-shadow: 0.3em 0.3em 1em rgb(140, 140, 140);
}

.center-image {
  display: flex;
  justify-content: center;
}

.my-image {
  display: flex;
  opacity: 60%;
  align-self: center;
  border-radius: 17em;
  margin-bottom: 3vh;
  margin-left: 3vw;
}

.jumbotron__description {
  text-align: start;
  display: flex;
  justify-content: flex-start;
  padding-top: 3vh;
  padding-right: 2vw;
  flex-direction: column;
}

.jumbotron__description--title {
  font-size: 3vw;
  font-weight: 900;
  margin-top: 1vh;
  margin-bottom: 0;
}

.jumbotron__description--sec1 {
  // margin-left: 0.5em;
  font-size: 1.2vw;
  font-weight: 700;
  margin-top: 1vh;
}

.jumbotron__description--icons {
  // margin-left: 0.5em;
  font-size: 2.2vw;
  font-weight: 700;
  margin-top: 0em;
  margin-bottom: 4vh;
}

.jumbotron__description--sec2 {
  font-size: 1.2vw;
  margin-top: 0;
}

@media only screen and (max-width: 575px) {
  html {
    height: 100%;
    // overflow: visible; /* Remove this */
  }
  .sec-1 {
    flex-direction: column;
  }

  .jumbotron {
    margin-top: 2em;
    width: auto;
  }

  .jumbotron__description {
    text-align: center;
    margin-bottom: 10vh;
  }

  .jumbotron__description--title {
    font-size: 5vw;
  }

  .jumbotron__description--sec1 {
    // margin-left: 0.5em;
    font-size: 2.8vw;
  }

  .jumbotron__description--icons {
    // margin-left: 0.5em;
    font-size: 5vw;
    font-weight: 700;
    margin-top: 0em;
  }

  .jumbotron__description--sec2 {
    font-size: 2.5vw;
    margin-left: 15vw;
    margin-right: 15vw;
  }

  .my-image {
    margin-top: 2em;
  }
}

@media only screen and (max-width: 847px) {
  .jumbotron__description--title {
    margin-top: 2vh;
    font-size: 2.5vw;
  }
  .jumbotron__description--icons {
    font-size: 4vw;
  }
}
