.landing-page {
  display: absolute;
  // background: #1a1e23;
  margin: 0;
}

$bubble-count: 50;
$sway-type: "sway-left-to-right", "sway-right-to-left";

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

@function sample($list) {
  @return nth($list, random(length($list)));
}

.bubbles {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bubble {
  position: absolute;
  left: var(--bubble-left-offset);
  bottom: -75%;
  display: absolute;
  width: var(--bubble-radius);
  height: var(--bubble-radius);
  border-radius: 50%;
  animation: float-up var(--bubble-float-duration) var(--bubble-float-delay)
    ease-in infinite;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(183, 94%, 76%, 0.3);
    border-radius: inherit;
    animation: var(--bubble-sway-type) var(--bubble-sway-duration)
      var(--bubble-sway-delay) ease-in-out alternate infinite;
  }

  @for $i from 0 through $bubble-count {
    &:nth-child(#{$i}) {
      --bubble-left-offset: #{random_range(0vw, 100vw)};
      --bubble-radius: #{random_range(1vw, 10vw)};
      --bubble-float-duration: #{random_range(4s, 24s)};
      --bubble-sway-duration: #{random_range(3s, 12s)};
      --bubble-float-delay: #{random_range(0s, 8s)};
      --bubble-sway-delay: #{random_range(0s, 8s)};
      --bubble-sway-type: #{sample($sway-type)};
    }
  }
}

@keyframes float-up {
  to {
    transform: translateY(-175vh);
  }
}

@keyframes sway-left-to-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes sway-right-to-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.sec-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
  background: none;
}

.jumbotron {
  align-self: flex-start;
  display: flex;
  // margin-left: 35em;
  // background-color: rgba(182, 232, 228, 0.8);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(9, 9, 121, 0.186734068627451) 17%,
    rgba(0, 212, 255, 0.3604035364145658) 100%
  );
  width: 60vw;
  height: 45vh;
  border-radius: 15em 15em 15em 15em;
  // border-style: solid;
  // border-width: 0.5em;
  box-shadow: 2em 2em 2em 2em;
  z-index: 1;
  box-shadow: 0.3em 0.3em 1em rgb(140, 140, 140);
}
@media only screen and (max-width: 768px) {
  .sec-1 {
    flex-direction: column;
  }
  // .jumbotron {
  //   width: 22.5em;
  //   height: 12.5em;
  // }

  .jumbotron {
    flex-direction: column;
    align-self: center;

    // width: 50%;
    // height: 50%;
  }

  .jumbotron__description {
    margin-top: 10em;
  }

  .man {
    margin-top: 2em;
    align-self: center;
    width: 35vw;
    height: fit-content;
  }
}

.technologies {
  display: flex;
  // margin-left: 35em;
  // background-color: rgba(182, 232, 228, 0.8);
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);

  width: 20em;
  height: 30em;
  border-radius: 2em 2em 2em 2em;
  // border-style: solid;
  // border-width: 0.5em;
  margin-right: 2em;
  box-shadow: 2em 2em 2em 2em;
  z-index: 1;
  box-shadow: 0.3em 0.3em 1em rgb(140, 140, 140);
}

.man {
  // width: 150vh;
  // height: 45vh;
  // height: auto;

  // height: auto;
  width: 19vw;
  height: fit-content;
  // width: 10vw;
  opacity: 60%;
  border-radius: 0em 0em 22.5em 35em;
  align-self: center;
}

.jumbotron__description {
  margin: 2em;
  display: flex;
  flex-direction: column;
}

.jumbotron__description--sec1 {
  align-self: flex-start;
  font-size: 3vh;
  font-weight: 900;
  margin-top: 0;
}

.jumbotron__description--sec2 {
  // margin-left: 0.5em;
  font-size: 1.8vh;
  font-weight: 700;
  margin-top: 0em;
  align-self: flex-start;
}

.jumbotron__description--sec3 {
  font-size: 1.6vh;
  margin-top: 0;
}
