.screen {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.landing-page {
  display: absolute;
  margin: 0;
}

.sec-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
  background: none;
}
