.technologies {
  margin-left: 2em;
  margin-right: 2em;
  display: flex;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);

  width: 25em;
  border-radius: 2em 2em 2em 2em;
  margin-right: 2em;
  box-shadow: 2em 2em 2em 2em;
  z-index: 1;
  box-shadow: 0.3em 0.3em 1em rgb(140, 140, 140);
}

.technologies__description {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1.5em;
  display: flex;
  justify-content: center;
}

.technologies__description--sec1 {
  font-size: 1.8vw;
  font-weight: 700;
}

.technologies__description--sec2 {
  display: flex;
  font-size: 1.2vw;
  padding: 1vh;
  margin-bottom: 1vh;
  background-color: #a1e7fd2c;
  border-radius: 1em;
  text-decoration: none;
  list-style-type: none;
}

.technologies__description--sec2:hover {
  background-color: #a1fdf765;
}
@media only screen and (max-width: 575px) {
  .technologies__description--sec1 {
    font-size: 3vw;
    font-weight: 700;
  }

  .technologies__description--sec2 {
    font-size: 2.5vw;
  }
}
