$themeColours: (
  customBlack: #222831,
  customWhite: #eeeeee,
  customBlue: #00a5e0,
  customRed: #ee4266,
  customGreen: #0ead69,
);

.link {
  text-decoration: none;
}

.appbar {
  background-color: customBlack;
  background: customBlack;
}

.estiloCool {
  color: aquamarine;
}
